<div id="container">
    <img id="videos" class="center routerLinks" mat-button [routerLink]="['/videos']" src="assets/links/videos-text.png" alt="can't find shit">
    <img id="music" class="center routerLinks" mat-button [routerLink]="['/music']" src="assets/links/music-text.png" alt="can't find shit">
    <img id="music" class="center routerLinks" mat-button [routerLink]="['/shows']" src="assets/links/shows-text.png" alt="can't find shit">

    <div id="footer">
        <!-- <img id="left-pic" class="anim-rotate-left" src="assets/scans/blue_book/william tell.png"> -->
        <img id="moat-pic" class="overlay" src="assets/scans/green_book/moat.png">
        <!-- <img id="right-pic" class="anim-rotate-right" src="assets/scans/blue_book/william tell.png"> -->
    </div>
</div>