#da-moat{
    font-family: oldeEnglish;
    color: var(--moat-yellow);
    font-size: 300%;
    white-space: nowrap;

    text-align: center;
    vertical-align: middle;
    line-height: 50%;
}

.center{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}

#circle{
    background-color: whitesmoke;
    /* background: url("../../../assets/static.gif"); */
    border-radius: 50%;
    height: 50%;
    width: 95vw;
}