#happy-mike{
    width: 70vw;
    height: 70vh;
    margin-bottom: 15%;
}

#da-moat{
    font-family: oldeEnglish;
    color: var(--moat-yellow);
    font-size: 500%;
    white-space: nowrap;
}

#flyer-container{
    width: 95vw;
    height: 80vh;
    margin: 20px;
    /* padding: 10px; */
    overflow-x: scroll; 
    overflow-y: scroll;
}

.flyers{
    width: 50%;
    height: 100%;
}