#container{
    width: 95vw;
    height: 80vh;
    margin: 20px;
    /* padding: 10px; */
    overflow-x: scroll; 
    overflow-y: scroll;
}

.content {
    width: 95%; 
    height: 300px;
    /* padding: 20px; */
}

#plane-pic{
    width: 100%;
    bottom: 0;
}