
#circle{
    /* background-color: whitesmoke; */
    margin-top: 25px;
    border-radius: 50%;
    height: 10vh;
    width: 60vw;
}

#da-moat{
    font-family: oldeEnglish;
    color: var(--moat-yellow);
    /* color: black; */
    font-size: 10vw;
    margin-top: 3vh;
    white-space: nowrap;
    text-shadow: -10px -5px 5px black;}

#left-logo{
    height: 100px;
    width: 100px;
}


#butterflies{
    top: 0;
    z-index: -1000;
    left: 0;
    /* height: 50%; */
    height: 70%;
    width: 100vw;
}

#content{
    overflow: hidden;
}