
#circle{
    /* background-color: whitesmoke; */
    margin-top: 25px;
    border-radius: 50%;
    height: 10%;
    width: 50%;
}

#da-moat{
    font-family: oldeEnglish;
    color: var(--moat-yellow);
    font-size: 300%;
    white-space: nowrap;
}

#left-logo{
    height: 100px;
    width: 100px;
}


#butterflies{
    top: 0;
    z-index: -1000;
    left: 0;
    /* height: 50%; */
    height: 70%;
    width: 100vw;
}

#content{
    overflow: hidden;
}