#da-moat{
    font-family: oldeEnglish;
    color: var(--moat-yellow);
    font-size: 300%;
    white-space: nowrap;
}

#circle{
    /* background-color: whitesmoke; */
    background: url("/assets/static.gif");
    margin-top: 25px;
    border-radius: 50%;
    height: 10%;
    width: 50%;
}