<div id="music-container">
    <div *ngFor="let link of this.musicLinks">
        <mat-card class="link-card {{link.className}}" appearance="outlined" mat-button (click)="openLink(link.url)">
            <mat-card-content>
                <!-- <h1 class="card-text">{{link.title}}</h1> -->
                <img class="icons" src="{{link.iconRef}}">
            </mat-card-content>
        </mat-card>
    </div>
    <img class="overlay" id="william-tell" src="./assets/scans/blue_book/william-tell.png">
</div>
<img class="overlay" id="bike-pic" src="./assets/scans/hobbies/eatting shit 1.png">


